geonature>=2.14.0
gql[requests]==3.4.1
graphql-core==3.2.3


#pour l'instant on ne les utilise pas, 
#mais si elles sont utilisées par la suite pour 
#importer des données directement dans le coeur, elles seront utiles
utils-flask-sqlalchemy>=0.3.5
utils-flask-sqlalchemy-geo>=0.2.8

#gestion des utilisateurs (a developper par la suite 
#pour que seuls les admin puissent acceder au module)
pypnusershub